<div>
    <h2><b>TODO List: </b></h2>
    <div *ngIf="listTask.length>0">
        <ul *ngFor="let task of listTask;let indexOfElement = index;">
            <li id={{indexOfElement}} (click)="markUnmarkTask(indexOfElement)">
                <h3>{{task}}</h3>
            </li>
        </ul>
        <span>
            <h4>{{listTask.length-countTaskDone}} remaining out of {{listTask.length}} tasks</h4>
        </span>
    </div>
    <div *ngIf="listTask.length==0">
        <h4>No tasks to display :(</h4>
    </div>
    <div>
        <input type="text" (keyup)="enableAddTask()" placeholder="Enter task..." [(ngModel)]="newTask" />
        <button type="submit" (click)="addTask()" [disabled]=isButtonEnable>Add</button>
    </div>
</div>